@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.greenBgColor {
  background: #a8bba3;
}

.greenColor {
  color: #a8bba3;
}

.blueBgColor {
  background: #007aff;
}

.blueColor {
  color: #007aff;
}
